@{
    ViewBag.Title = "Create Bell";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}
@section AdditinalStyles{
 <link href="@Url.Content("~/Content/Forms.css")" rel="stylesheet" type="text/css" />

}

<h2>Create</h2>

@using(Html.BeginForm("Create", "BellAdmin", new {@class="adminForm"})){
<label>Bell name:</label><input type="text" />
}


